<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>
	<servlet>
		<servlet-name>ControllerTest</servlet-name>
		<display-name>ControllerTest</display-name>
		<description></description>
		<servlet-class>com.entlogics.hotelbookingsystem.test.ControllerTest</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>JDBCTestServlet</servlet-name>
		<display-name>JDBCTestServlet</display-name>
		<description></description>
		<servlet-class>com.entlogics.hotelbookingsystem.test.JDBCTestServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ManageHotelController</servlet-name>
		<display-name>ManageHotelController</display-name>
		<description></description>
		<servlet-class>com.entlogics.hotelbookingsystem.controller.ManageHotelController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ManageHotelInfoController</servlet-name>
		<display-name>ManageHotelInfoController</display-name>
		<description></description>
		<servlet-class>com.entlogics.hotelbookingsystem.controller.ManageHotelInfoController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ManageHotelCustomersController</servlet-name>
		<display-name>ManageHotelCustomersController</display-name>
		<description></description>
		<servlet-class>com.entlogics.hotelbookingsystem.controller.ManageHotelCustomersController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>HotelController</servlet-name>
		<display-name>HotelController</display-name>
		<description></description>
		<servlet-class>com.entlogics.hotelbookingsystem.controller.HotelController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SingleCustomerHotelController</servlet-name>
		<display-name>SingleCustomerHotelController</display-name>
		<description></description>
		<servlet-class>com.entlogics.hotelbookingsystem.controller.SingleCustomerHotelController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetHotelEmployeesController</servlet-name>
		<display-name>GetHotelEmployeesController</display-name>
		<description></description>
		<servlet-class>com.entlogics.hotelbookingsystem.controller.GetHotelEmployeesController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ManageHotelServicesController</servlet-name>
		<display-name>ManageHotelServicesController</display-name>
		<description></description>
		<servlet-class>com.entlogics.hotelbookingsystem.controller.ManageHotelServicesController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetHotelBookingsController</servlet-name>
		<display-name>GetHotelBookingsController</display-name>
		<description></description>
		<servlet-class>com.entlogics.hotelbookingsystem.controller.GetHotelBookingsController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ManageHotelRoomsController</servlet-name>
		<display-name>ManageHotelRoomsController</display-name>
		<description></description>
		<servlet-class>com.entlogics.hotelbookingsystem.controller.ManageHotelRoomsController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ManageHotelRoomInfoController</servlet-name>
		<display-name>ManageHotelRoomInfoController</display-name>
		<description></description>
		<servlet-class>com.entlogics.hotelbookingsystem.controller.ManageHotelRoomInfoController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ControllerTest</servlet-name>
		<url-pattern>/mvctest</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>JDBCTestServlet</servlet-name>
		<url-pattern>/jdbctest</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ManageHotelController</servlet-name>
		<url-pattern>/hotels</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ManageHotelInfoController</servlet-name>
		<url-pattern>/hotels/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ManageHotelCustomersController</servlet-name>
		<url-pattern>/hotels/customers/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>HotelController</servlet-name>
		<url-pattern>/loadhotelform</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SingleCustomerHotelController</servlet-name>
		<url-pattern>/hotels/*/customers/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetHotelEmployeesController</servlet-name>
		<url-pattern>/hotels/employees/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ManageHotelServicesController</servlet-name>
		<url-pattern>/hotels/services/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetHotelBookingsController</servlet-name>
		<url-pattern>/hotels/bookings/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ManageHotelRoomsController</servlet-name>
		<url-pattern>/hotels/rooms/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ManageHotelRoomInfoController</servlet-name>
		<url-pattern>/hotels/*/rooms/*</url-pattern>
	</servlet-mapping>
</web-app>
